## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### 之前做過的處理

In [2]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

# Create an anomalous flag column
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
# also apply to testing dataset
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# absolute the value of DAYS_BIRTH
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

In [21]:
ages = pd.DataFrame({"age": app_train['DAYS_BIRTH'] / 365})
ages["equal_width_age"] = pd.cut(ages["age"], 4)
ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(32.668, 44.819]    100808
(44.819, 56.97]      84685
(20.469, 32.668]     66536
(56.97, 69.121]      55482
Name: equal_width_age, dtype: int64

In [24]:
ages = pd.DataFrame({"age": app_train['DAYS_BIRTH'] / 365})
#print(ages)
ages["equal_freq_age"] = pd.qcut(ages["age"], 4)
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(43.151, 53.923]    76887
(20.517, 34.008]    76884
(34.008, 43.151]    76877
(53.923, 69.121]    76863
Name: equal_freq_age, dtype: int64

In [25]:
ages["customized_age_grp"] = pd.cut(ages["age"], [10, 20, 30, 50, 100])
ages

              age    equal_freq_age customized_age_grp
0       25.920548  (20.517, 34.008]           (20, 30]
1       45.931507  (43.151, 53.923]           (30, 50]
2       52.180822  (43.151, 53.923]          (50, 100]
3       52.068493  (43.151, 53.923]          (50, 100]
4       54.608219  (53.923, 69.121]          (50, 100]
5       46.413699  (43.151, 53.923]           (30, 50]
6       37.747945  (34.008, 43.151]           (30, 50]
7       51.643836  (43.151, 53.923]          (50, 100]
8       55.065753  (53.923, 69.121]          (50, 100]
9       39.641096  (34.008, 43.151]           (30, 50]
10      27.936986  (20.517, 34.008]           (20, 30]
11      55.936986  (53.923, 69.121]          (50, 100]
12      36.819178  (34.008, 43.151]           (30, 50]
13      38.591781  (34.008, 43.151]           (30, 50]
14      39.953425  (34.008, 43.151]           (30, 50]
15      23.912329  (20.517, 34.008]           (20, 30]
16      35.427397  (34.008, 43.151]           (30, 50]
17      26.783562  (20.517, 34.008]           (20, 30]
18      48.542466  (43.151, 53.923]           (30, 50]
19      31.090411  (20.517, 34.008]           (30, 50]
20      50.005479  (43.151, 53.923]          (50, 100]
21      40.589041  (34.008, 43.151]           (30, 50]
22      30.536986  (20.517, 34.008]           (30, 50]
23      68.019178  (53.923, 69.121]          (50, 100]
24      30.920548  (20.517, 34.008]           (30, 50]
25      52.969863  (43.151, 53.923]          (50, 100]
26      51.298630  (43.151, 53.923]          (50, 100]
27      43.693151  (43.151, 53.923]           (30, 50]
28      27.380822  (20.517, 34.008]           (20, 30]
29      28.331507  (20.517, 34.008]           (20, 30]
...           ...               ...                ...
307481  56.558904  (53.923, 69.121]          (50, 100]
307482  38.646575  (34.008, 43.151]           (30, 50]
307483  68.249315  (53.923, 69.121]          (50, 100]
307484  35.197260  (34.008, 43.151]           (30, 50]
307485  32.802740  (20.517, 34.008]           (30, 50]
307486  43.863014  (43.151, 53.923]           (30, 50]
307487  63.356164  (53.923, 69.121]          (50, 100]
307488  27.649315  (20.517, 34.008]           (20, 30]
307489  45.126027  (43.151, 53.923]           (30, 50]
307490  27.052055  (20.517, 34.008]           (20, 30]
307491  30.071233  (20.517, 34.008]           (30, 50]
307492  57.438356  (53.923, 69.121]          (50, 100]
307493  48.035616  (43.151, 53.923]           (30, 50]
307494  40.980822  (34.008, 43.151]           (30, 50]
307495  57.320548  (53.923, 69.121]          (50, 100]
307496  47.520548  (43.151, 53.923]           (30, 50]
307497  45.695890  (43.151, 53.923]           (30, 50]
307498  52.334247  (43.151, 53.923]          (50, 100]
307499  46.542466  (43.151, 53.923]           (30, 50]
307500  55.863014  (53.923, 69.121]          (50, 100]
307501  35.509589  (34.008, 43.151]           (30, 50]
307502  44.008219  (43.151, 53.923]           (30, 50]
307503  32.520548  (20.517, 34.008]           (30, 50]
307504  45.767123  (43.151, 53.923]           (30, 50]
307505  66.805479  (53.923, 69.121]          (50, 100]
307506  25.553425  (20.517, 34.008]           (20, 30]
307507  56.917808  (53.923, 69.121]          (50, 100]
307508  41.002740  (34.008, 43.151]           (30, 50]
307509  32.769863  (20.517, 34.008]           (30, 50]
307510  46.180822  (43.151, 53.923]           (30, 50]

[307511 rows x 3 columns]